/* .center {
    justify-content: center;
    align-items: center;
} */

.rank {
    font-weight: bold;
    margin-right: 10px;
  }
 
  .custom {
    width: 145px ;
}

  /* @media screen and (max-width: 500px){
    .container {
        background-color: red;
    }
  } */